.fixed{
    width: 100%;
    margin: auto;
}
nav{
    background-color: black;
    font-family:'Limelight';
}
nav ul{
    margin: 0;          /*外距*/
    padding: 0;         /*內距*/
    /*    float:right;*/
}
nav li{
    list-style: none;
    /*    float:left;*/
    padding: 5px;
}
nav a{
    text-decoration: none;
    /*    background-color: rgba(229, 46, 215, 0.21) ;*/
    height: 40px;
    display: block;
    /*    color: blueviolet;   文字顏色*/
    text-align: center;  /*水平置中*/
    line-height: 40px; 
    /*    transition: all .2s;*/*/
}
a {
    text-decoration: none;
    color:azure;
}
.logo{
    /*    float: left;*/
    margin: auto;
    text-align: center;

}
header{
    background-image:url(../../img/wallpaper.jpg);
    background-size: cover;
    background-position: bottom;
    height: 200px;
}
#about .box{
    width:90%;
    font-family:'Limelight';
    margin: auto;
    /*    float: left;
    margin-left:15px;
    margin-right:15px;
    margin-bottom: 50px;
    margin-top: 50px;*/
}
#about H1{
    margin-bottom: 20px;
    text-align: center;
}
#about {
    background-color:bisque;
}
#gallery .box {
    width:100% ;          /*585px;*/
    height: 300px;
/*    float: left;*/
    overflow:hidden;
}

/*
#gallery .fixed {
    width:1170px;
}
*/
#gallery .box img {
    width: 200%;
}
#help {
    background-color: #666;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
#help .box{
    width:270px;
    height: 270px;
    overflow: hidden;
    margin: auto;

    font-family:'Limelight';
    margin-bottom: 50px;
    border-radius: 50%;
    box-shadow:10px 30px 50px #000; 
    /*x偏移  y偏移  模糊程度 陰影顏色 */
}
#help img{
    height: 200%;
}
footer {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}
.copyright {
/*    float: left;*/

}
.copyright  p {
    color: aliceblue;
    text-align: center;

}
.sns {
/*    float: right;*/
text-align: center;

}
.sns a {
    color:white;
    margin-right: 20px;
}